<!---  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Le Quang Dat, Lai Dong Khoa, Nguyen Ich Kiet, Phung Hoang Long, Chu Khai Minh, Vu Thanh Tung.
  ID: s3927251, s3926689, s3978724, s3965673, s3864172, s3963172
-->

<%- include ('partials/head', {title :'Products'}) %>
    <link rel="stylesheet" href="/css/Header_styles.css">
    <link rel="stylesheet" href="/css/Footer_styles.css">
    <link rel="stylesheet" href="/css/Home-Main_styles.css">
    </head>

    <body>
        <%- include ('partials/nav') %>
            <%for(let i=0; i < product.length; i++){%>
                <div class="product-card">
                    <a href="/Customer/<%= customer_id.id %>/product-details/<%= product[i].id %>" type="button"
                        class="btn btn-primary" class="product-image">
                        <img src="data:<%= product[i].image.mimeType %>;base64,<%= product[i].image.data.toString('base64') %>"
                            alt="product">
                    </a>
                    <div class="product-info">
                        <a href="/Customer/<%= customer_id.id %>/product-details/<%= product[i].id %>" type="button"
                            class="btn btn-primary" class="product-name">
                            <%= product[i].name %>
                        </a>
                        <span class="product-price">
                            <%= product[i].price %>
                        </span>
                    </div>
                </div>
                <% }; %>


                    <%- include ('partials/footer') %>