<!---  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Le Quang Dat, Lai Dong Khoa, Nguyen Ich Kiet, Phung Hoang Long, Chu Khai Minh, Vu Thanh Tung.
  ID: s3927251, s3926689, s3978724, s3965673, s3864172, s3963172
-->

<%- include ('partials/head', {title :'View & Add'}) %>
    <link rel="stylesheet" href="/css/vendor-page.css">
    </head>

    <body>
        <!--TITLE-->
        <h1>Welcom to <a href="/Vendor/<%=user.id%>"><span>Vendor</span></a> Page !</h1>

        <!--MAIN SECTION-->
        <section id="product-manage">
            <!--slider-->
            <input class="slider-radio" type="radio" name="option-slider" id="view" checked>
            <input class="slider-radio" type="radio" name="option-slider" id="add">

            <div class="slider-button-container">
                <label class="slider-button" id="view-option" for="view"><span>VIEW YOUR PRODUCT</span></label>
                <label class="slider-button" id="add-option" for="add"><span>ADD MORE PRODUCT</span></label>
            </div>

            <!--main contents-->
            <div class="main-container">
                <div class="slider">
                    <div class="sub-container" id="view-product">
                        <h2>YOUR PRODUCTS:</h2>
                        <span class="empty hidden">You don't have any products.</span>
                        <div class="product-container">
                            <!--delete this-->
                            <% for (let i=0; i < product.length; i++) { %>
                                <div class="product-card">
                                    <a href="#" class="product-image">
                                        <img src="data:<%= product[i].image.mimeType %>;base64,<%= product[i].image.data.toString('base64') %>"
                                            alt="product image">
                                    </a>
                                    <div class="product-info">
                                        <a href="#" class="product-name">
                                            <%= product[i].name %>
                                        </a>
                                        <span class="product-price">
                                            <%= product[i].price %>
                                        </span>
                                    </div>
                                </div>
                                <% } %>
                                    <!--------------->
                        </div>
                    </div>

                    <div class="sub-container" id="add-product">
                        <h2>ADD PRODUCTS</h2>
                        <form id="product-add" method="post" action="/Vendor/<%= user.id %>/products/update"
                            enctype="multipart/form-data">
                            <div class="input-box">
                                <input type="text" id="name" name="name" placeholder=" Enter name of your product ">
                                <label for="name">Name:</label>
                            </div>

                            <div class="input-box">
                                <input type="number" id="price" name="price"
                                    placeholder=" Enter price of your product ">
                                <label for="price">Price: (in USD only)</label>
                            </div>

                            <div class="input-box">
                                <input type="file" id="image" name="image">
                                <label for="image">Image of the product:</label>
                            </div>

                            <div class="input-box">
                                <textarea id="description" name="description"
                                    placeholder=" Enter description for your product "></textarea>
                                <label for="description">Description:</label>
                            </div>

                            <button type="submit">ADD PRODUCT</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>

    </html>